.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.container-resume {
    box-sizing: border-box;
    width: 236px;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.resume-title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F2F;
}

.container-in {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2F2F2F;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    margin-top: 23px;
    margin-bottom: 12px;
}

.in {
    color: #645FFB;
}

.container-out {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2F2F2F;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    margin-bottom: 19px;
}

.out {
    color: #FA8C10;
}

.line {
    border: 1px solid #EAEAEA;
}

.container-balance {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2F2F2F;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    margin-top: 16px;
}

.balance {
    color: #3A9FF1;
}

.btn-add {
    width: 236px;
    height: 42px;
    border: none;
    background: linear-gradient(91.26deg, #FA8C10 0%, #FF57D3 97.77%);
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}