.container-body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 116px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 60px 60px 0px 0px;
  gap: 64px;
  padding: 100px;
}

.container-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.adjust-layout {
  width: 80px;
  height: 30px;
}